<link rel="stylesheet" href="../../styles/user/404.css">
<%- include("../../views/partials/user/header") %>
  <!-- Main Content -->
  <section class="main-content">
    <div class="error-code">404 Not Found</div>
    <p class="error-message">The page you are looking for was not found. You may return to the homepage.</p>
    <a href="/" class="back-button">Back to home page</a>
  </section>
  <%- include("../../views/partials/user/footer") %>