<link rel="stylesheet" href="../../../styles/partials/admin/header.css">
<div class="user-profile">
    <div class="user-avatar">
        <%= (admin.name)[0].toUpperCase() %>
    </div>
    <div class="user-info">
        <div class="user-name">
            <%= admin.name %>
        </div>
        <div class="user-role">
            <%= admin.role %>
        </div>
    </div>
    <i class="fas fa-chevron-down" style="margin-left: 8px; font-size: 12px;"></i>
</div>